@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Roboto';
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.875rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 25rem;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 2px;
}

@media print {
  body {
    font-size: small;
    p {
      page-break-inside: avoid;
    }
  }
  .badge {
    font-size: 0.7rem;
  }
}